{% extends 'adminbase.html.twig' %}

{% block title %} Alısveris Admin Panel{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Sayfa Hoşgeldiniz..</h3>
            <div id="toastr-demo" class="panel">

            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

{% endblock %}
